In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ajay kumar\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ajay kumar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ajay kumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
# Opening the naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

In [5]:
# Entering the designation and location as required in the question
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data scientist')

In [6]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
#Scraping job title from the given page;
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
#Scraping job location from the given page;
location_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    
#Scraping company name from the given page;
company_tags=driver.find_elements(By.XPATH,'//span[@class=" comp-dtls-wrap"]/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)
    
#Scraping experience required from the given page;
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [10]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [11]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,Location,company_name,Experience
0,Data Scientist-Senior Associate - P&T Labs,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,4-6 Yrs
1,"Senior Data Scientist, Reporting","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,6-7 Yrs
2,"Data Scientist, Marketing","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,4-6 Yrs
3,Sr. Data Scientist,Bengaluru,Visa Inc,0-3 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,3-6 Yrs
5,AI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,2-6 Yrs
6,GenAI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,5-6 Yrs
7,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
8,Data Scientist III,Bengaluru,Walmart,1-6 Yrs
9,Xoriant is hiring Senior Generative AI Engineer !,"Hybrid - Bangalore Rural, Karnataka, Pune, Mah...",Xoriant,5-10 Yrs
10,Data Scientist,"Hybrid - Bengaluru, Karnataka",Acuity Knowledge Partners,4-8 Yrs
11,Data Scientist (Analytic Engineer),Bengaluru,Applied Materials,7-10 Yrs
12,Data Scientist,Bengaluru,Johnson and Johnson Kenvue,3-7 Yrs
13,"Data Scientist @ Nttdata, Bangalore","Bangalore Rural, Karnataka",NTT DATA BUSINESS SOLUTIONS,4-6 Yrs
14,Lead Data Scientist,Bengaluru,Atkinsréalis,4-8 Yrs
15,Data Scientist-,Bengaluru,Visa Inc,3-7 Yrs
16,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics,8-9 Yrs
17,NLP Data Scientist - Real World Data (RWD),"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Agilite Global Solutions,7-8 Yrs
18,Data Analytics-Corporate HR,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Tata Communications,3-6 Yrs
19,Data Scientist (Diversity Hiring),"Bangalore Rural, Karnataka, Kolkata, West Beng...",Protiviti India,4-8 Yrs

In [12]:
# To fetch the url
url=driver.find_elements(By.XPATH,'//a[@class="title "]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="87d5322df85ea862f5a84ca79a9141b8", element="f.2680DAF949DB7BEDB604B21457244861.d.D92670C0FDF0CC558948E6456AB69D3B.e.739")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87d5322df85ea862f5a84ca79a9141b8", element="f.2680DAF949DB7BEDB604B21457244861.d.D92670C0FDF0CC558948E6456AB69D3B.e.961")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87d5322df85ea862f5a84ca79a9141b8", element="f.2680DAF949DB7BEDB604B21457244861.d.D92670C0FDF0CC558948E6456AB69D3B.e.970")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87d5322df85ea862f5a84ca79a9141b8", element="f.2680DAF949DB7BEDB604B21457244861.d.D92670C0FDF0CC558948E6456AB69D3B.e.1525")>]

In [13]:
for i in url[0:4]:           # Let's provide the range to print only top 4 data
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-scientist-senior-associate-p-t-labs-pricewaterhouse-coopers-private-limited-mumbai-hyderabad-bengaluru-4-to-6-years-070324502187
https://www.naukri.com/job-listings-senior-data-scientist-reporting-coursera-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-6-to-7-years-220124502188
https://www.naukri.com/job-listings-data-scientist-marketing-coursera-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-4-to-6-years-240124501248
None

In [14]:
job_titles=[]

In [16]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a[1]')
    
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[2]/div[3]/div/a[2]/span')
    next_button.click()
    time.sleep(3)

In [17]:
len(job_titles)

80

In [18]:
job_titles

['Data Scientist-Senior Associate - P&T Labs',
 'Senior Data Scientist, Reporting',
 'Data Scientist, Marketing',
 'Sr. Data Scientist',
 'Data Scientist',
 'AI Data Scientist',
 'GenAI Data Scientist',
 'Data Scientist HTHD',
 'Data Scientist III',
 'Xoriant is hiring Senior Generative AI Engineer !',
 'Data Scientist',
 'Data Scientist (Analytic Engineer)',
 'Data Scientist',
 'Data Scientist @ Nttdata, Bangalore',
 'Lead Data Scientist',
 'Data Scientist-',
 'Data Scientist',
 'NLP Data Scientist - Real World Data (RWD)',
 'Data Analytics-Corporate HR',
 'Data Scientist (Diversity Hiring)',
 'Data Scientist-Senior Associate - P&T Labs',
 'Senior Data Scientist, Reporting',
 'Data Scientist, Marketing',
 'Sr. Data Scientist',
 'Data Scientist',
 'AI Data Scientist',
 'GenAI Data Scientist',
 'Data Scientist HTHD',
 'Data Scientist III',
 'Xoriant is hiring Senior Generative AI Engineer !',
 'Data Scientist',
 'Data Scientist (Analytic Engineer)',
 'Data Scientist',
 'Data Scientist @ Nttdata, Bangalore',
 'Lead Data Scientist',
 'Data Scientist-',
 'Data Scientist',
 'NLP Data Scientist - Real World Data (RWD)',
 'Data Analytics-Corporate HR',
 'Data Scientist (Diversity Hiring)',
 'Data Scientist',
 'Opportunity For Data Science- Gurugram/Kolkata/Bengaluru - 12-9 PM',
 'Data Scientist III',
 'Sr. Data Scientist - ML Ops',
 'Sr Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Senior Consultant - Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'SAS Data Scientist',
 'AI Scientist',
 'Data Scientist',
 'DS - NLP Expert',
 'Generative AI Expert',
 'Senior Data Scientist - NLP',
 'Senior Data Scientist',
 'Data Scientist',
 'Staff Data Scientist',
 'Staff Data Scientist',
 'Senior Data Scientist',
 'Principal Data Scientist',
 'MACHINE LEARNING / DATA SCIENCE TRAINER',
 'Advanced Data Scientist',
 'Principal Data Scientist',
 'Principal, data scientist',
 'Sr . Data Scientist / Manager',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist II',
 'Data Scientist',
 'SENIOR, DATA SCIENTIST',
 'Senior Data Scientist (MLE)',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Staff Data Scientist']