# Webscraping using selenium

## FOR DATA ANALYST

In [ ]:
## Q2).Write a python programe to data for "Data Scientist" job position in "Bangalore" location
# you have to scrape the job_title, job_location, company_name. you have to scrape first 10 jobs data.
1). 1st get the webpage(www.shine.com).
2). Enter "Data scientist" in the job title skills field and enter "Bangalore" in location field.
3). Then, click on the Search button.
4). Then, scrape the for first 10 jobs results you get.
5). Finally, create a dataframe of the scraped data.

In [1]:
# First install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\ajay kumar\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ajay kumar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ajay kumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

## Import the some important libraries and webdriver

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

#to connect with the automated chrome browser

In [3]:
# To Connect With Chrome Browser
driver = webdriver.Chrome()

In [4]:
# Opening the Shine page on automated chrome browser.
driver.get('https://www.shine.com/')

In [11]:
# enter the designation as required in the question
designation = driver.find_element(By.ID,'id_q')
designation.send_keys('Data Analyst')

In [12]:
# here is the location of the job
loc = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
loc.send_keys('Bangalore')

In [28]:
# Click on search button
search = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [39]:
# making list
job_titles = []
job_location = []
company_name = []
experience_required = []

In [40]:
# scraping job title from the given page.
title_tags = driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/a')
for i in title_tags[0:10]:
    title=i.text
    job_titles.append(title)
    
#scraping job location from the given page.
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from th given page.
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping experience data from the given page.
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp = i.text
    experience_required.append(exp)

In [41]:
# As mention in the question that I have to scrape data only for first 10 job results. 
print(len(job_titles),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [42]:
# making of dataframe
import pandas as pd
df = pd.DataFrame({'Title':job_titles,'Loation':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Loation,Company,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
2,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
3,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
4,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
5,Data Analyst Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
6,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
7,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
9,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs

## FOR DATA SCIENTIST

In [ ]:
## Q2).Write a python programe to data for "Data Scientist" job position in "Bangalore" location
# you have to scrape the job_title, job_location, company_name. you have to scrape first 10 jobs data.
1). 1st get the webpage(www.shine.com).
2). Enter "Data scientist" in the job title skills field and enter "Bangalore" in location field.
3). Then, click on the Search button.
4). Then, scrape the for first 10 jobs results you get.
5). Finally, create a dataframe of the scraped data.

In [4]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ajay kumar\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\ajay kumar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ajay kumar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ajay kumar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ajay kumar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [5]:
# Import the some important libraries and webdriver
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [7]:
# Opening the shine page with automated chrome webdriver.
driver = webdriver.Chrome()

In [20]:
driver.get('https://www.shine.com/')

In [25]:
# Enter the designation as required in the question.
designation = driver.find_element(By.ID,'id_q')
designation.send_keys('Data scientist')

In [26]:
# Here is the location of the job.
location = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [27]:
# To click on the search button as given on the webpage.
search = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div[1]/form/div/div[2]/div/button')
search.click()

In [28]:
# To Make the empty list 
job_titles = []
job_location = []
company_name = []
experience_required = []

In [29]:
# Scrape the job title from the given page.
title_tags = driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/a')
for i in title_tags[0:10]:
    title = i.text
    job_titles.append(title)
    
# Scrape the job location from the given page.
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
# Scrape the company name from the given page.
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
# Scrape the experience from the given page.
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp = i.text
    experience_required.append(exp)

In [31]:
# Now we have the scrapped data first 10 jobs only.
print(len(job_titles),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [32]:
# To make the data frame first import pandas libraries
import pandas as pd
df = pd.DataFrame({'Title':job_titles,'Location':job_location,'Company':company_name,'experience':experience_required})
df

,Title,Location,Company,experience
0,Data Scientist,Bangalore\n+4,alike thoughts solutions private li...,5 to 10 Yrs
1,Data Scientist,Bangalore,unified excellence llp,4 to 8 Yrs
2,Data Scientist,Bangalore,unified excellence llp,4 to 8 Yrs
3,Data Scientist Opening,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
4,Data Scientist Urgent Recruitment,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
5,Data Scientist Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
6,Data Scientist Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
7,Data Scientist Vacancy,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
8,Hiring For Data Scientist,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
9,Data Scientist Opening,Bangalore\n+15,renuka interprises,0 to 4 Yrs